base64
configparser
hmac
hashlib
json
logging
os
requests
python-telegram-bot
pyqrcode
tweepy
contextlib
flask
http
time
datetime
decimal
flask_weasyprint
mysqlclient
nano-python
TwitterAPI
cairocffi
