body
{
  font-family:"Arial";
}

.center-justify
{
  -moz-text-align-last: center;
  text-align-last: center;
}

.centered
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.jumbotron-center
{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:75%
}
