<div class="container">
  <p style="text-align:center">
    <small>Developed by Andrew Mitchell.  View my other projects at <a href="https://andrewgmitchell.com">andrewgmitchell.com</a><br>
    You can donate on Twitter / Telegram through the !donate command, or by
      {% if currency=="nano" %}
        <a href="https://nanote.net/pay/758b6c10-89fc-11e8-8cbe-b1db379191f2">clicking here!</a>
      {% else %}
        sending to <code>ban_187pa63dfni896sqe7986wndxe16uun8jn446o1zkqokwc1o6etcfmzqkxfb</code>
      {% endif %}
    <br><br><br>
    Follow us on our Social Media accounts below:
    <br>
    </small>
    <a href="https://twitter.com/{{ currency|title }}TipBot">
    <button class="btn btn-social-icon btn-twitter">
      <span class="fab fa-twitter"></span>
    </button>
    </a>
    <a href="https://github.com/mitche50/NanoTipBot">
    <button class="btn btn-social-icon btn-github">
      <span class="fab fa-github"></span>
    </button>
    </a>
    <a href="https://www.youtube.com/channel/UCm0cCxTkX8iH5gmL_KIifnw">
    <button class="btn btn-social-icon btn-google">
      <span class="fab fa-youtube"></span>
    </button>
    </a>
    </p>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
