{% extends "layout.html" %}
{% block content %}
 <div class="jumbotron" style="display:block;margin-left:auto;margin-right:auto;width:100%">
      <img src="{{ url_for('static', filename='nano_tip_bot_logo.jpg') }}" class="ntb-jumbo-img">
    </div>
    <div class="container" style="text-align:center;">
        <p>Enter the destination address and amount (in NANO) to generate a payment request link</p>
        <form id="linkform" action="" method="POST" onsubmit="validate()">
            <ul class="nano-form">
                <li>
                    <label>Address<span class="required">*</span></label> <input onblur="validate()" type="text" id="address" name="address" placeholder="xrb_... or nano_..." pattern="(xrb|nano)(_)(1|3)[13456789abcdefghijkmnopqrstuwxyz]{59}" oninvalid="setCustomValidity('Please enter a valid Nano address')">
                </li><li>
                    <label>Amount (in NANO)</label> <input type="number" id="amount" name="amount" placeholder="1" step="any">
                </li>
                <li>
                    <input type="submit" value="Generate Link">
                </li>
            </ul>
        </form>
        <br>
            <input type="text" id="linkoutput" readonly style="width:75%; max-width:700px;"></input>
            <div class="nano-tooltip">
                <i class="far fa-copy" id="copyIcon" onclick="copyFunction()" ></i>
                <span class="nano-tooltiptext" id="nano-tooltiptext">Click to copy</span>
            </div>
        <br>
        <br>

    </div>

<script>
window.onload=function() {
  document.getElementById("linkform").onsubmit=function() {
    var address = this.address.value;
    var amount = this.amount.value;
    if (address) {
     document.getElementById("linkoutput").value = window.location.origin + "/pay?address=" + address;
         if (amount) {
    			     document.getElementById("linkoutput").value = document.getElementById("linkoutput").value + "&amount=" + amount;
    		}
    }
    return false;
  }
}

function copyFunction() {
    var copyText = document.getElementById("linkoutput");
    copyText.select();
    document.execCommand("copy");
    var tooltip = document.getElementById("nano-tooltiptext");
    tooltip.innerHTML = "Copied!";
    setTimeout("var tooltip = document.getElementById('nano-tooltiptext'); tooltip.innerHTML = 'Click to copy'", 2000);

}
</script>

{% endblock %}