<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-social.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/ntbstyle.css">
    <link rel="shortcut icon" href="/static/{{ currency }}favicon.ico">

    <title>{{ currency|title }} Tip Bot</title>
  </head>
  <body>
    <nav class="navbar navbar-light bg-light navbar-expand-md">
      <a href="/"><img class="logo" src="/static/{{ currency }}tb_logo_no_bg.png" alt="{{ currency|title }}TipBot" width="200"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse float-right text-right pr-3" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="navbar-item">
            <a href="/tiplist" class="nav-link">Recent Tips</a>
          </li>
          <li class="navbar-item">
              <a href="/tippers" class="nav-link">Top Tippers</a>
          </li>
          <li class="navbar-item">
            <a href="/tutorial" class="nav-link">Tutorials</a>
          </li>
          <li class="navbar-item">
            <a href="/about" class="nav-link">About</a>
          </li>
          <li class="navbar-item">
            <a href="/contact" class="nav-link">Contact Us</a>
          </li>
          {% if currency == "nano" %}
          <li class="navbar-item">
            <a href="/nanoNodeMonitor/" class="nav-link">Node Status</a>
          </li>
          {% endif %}
        </ul>
      </div>

    </nav>
