{% extends "layout.html" %}
{% block content %}
    <div class="jumbotron" style="display:block;margin-left:auto;margin-right:auto;width:100%">
      <img src="{{ url_for('static', filename=currency + '_tip_bot_logo.jpg') }}" class="ntb-jumbo-img">
    </div>
    <div class="container">
      <h3 style="text-align:center">Most Recent Tips</h3>
      <br>
      <p style="text-align:center">
        A list of the most recent tips on the @{{ currency|title }}TipBot.<br>
        Returned tips have been removed to provide a more accurate amount of tips sent.
      </p>
      <br>
      <table class="table table-sm table-striped">
        <thead>
          <tr>
            <th scope="col" style="text-align:center;">
              Sender
            </th>
            <th scope="col" style="text-align:center;">
              Receiver
            </th>
            <th scope="col" style="text-align:center;">
              Tip Amount
            </th>
            <th scope="col" style="text-align:center;">
              System
            </th>
            <th scope="col" style="text-align:center;">
              Time Sent (UTC)
            </th>
          </tr>
        </thead>
        <tbody>
          {% for row in tip_list_table %}
          <tr>
            {% if row[5] == "twitter"%}
            <td style="text-align: center;"><a href="{{ explorer }}explorer/account/{{row[3]}}"><u>@{{row[0]}}</u></a></td>
            <td style="text-align: center;"><a href="{{ explorer }}explorer/account/{{row[4]}}"><u>@{{row[1]}}</u></a></td>
            {% endif %}
            {% if row[5] != "twitter" %}
            <td style="text-align: center;"><a href="{{ explorer }}explorer/account/{{row[3]}}"><u>{{row[0]}}</u></a></td>
            <td style="text-align: center;"><a href="{{ explorer }}explorer/account/{{row[4]}}"><u>{{row[1]}}</u></a></td>
            {% endif %}
            <td style="text-align: center;">{{row[2]}}</td>
            {% if row[5] == "twitter" %}
            <td style="text-align: center;"><span class="fab fa-twitter"></span></td>
            {% endif %}
            {% if row[5] == "facebook" %}
            <td style="text-align: center;"><span class="fab fa-facebook"></span></td>
            {% endif %}
            {% if row[5] == "telegram" %}
            <td style="text-align: center;"><span class="fab fa-telegram"></span></td>
            {% endif %}
            <td style="text-align: center;">{{row[6]}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
{% endblock %}
