{% extends "layout.html" %}
{% block content %}

    <div class="jumbotron" style="display:block;margin-left:auto;margin-right:auto;width:100%">
      <img src="{{ url_for('static', filename=currency + '_tip_bot_logo.jpg') }}" class="ntb-jumbo-img">
    </div>


    <h1 style="text-align:center">Tutorials</h1>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-lg-3">
          <div class="card mt-3">
            <iframe src="https://www.youtube.com/embed/FQeF0R4t4ic" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <div class="card-body" style="text-align:center">
              <h5 class="card-title">How to - Send a Tip </h5>
              <p class="card-text">An example of sending a {{ currency|title }} tip using the {{ currency|title }} Tip Bot.</p>
              <div style="text-align: center;">
                <a href="https://twitter.com/intent/tweet?text={{ bot_name_twitter }}+{{ tip_command }}+" target="_blank"><button type="button" class="btn btn-info"><i class="fab fa-twitter"></i> Send a Tip!</button></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="card mt-3">
            <iframe src="https://www.youtube.com/embed/4iIGD_MBWYo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <div class="card-body" style="text-align:center">
              <h5 class="card-title">How to - Fund Your Account </h5>
              <p class="card-text">An example of sending {{ currency|title }} to your tip account.</p>
              <div style="text-align: center;">
                <a href="https://twitter.com/messages/compose?recipient_id={{ bot_id }}&text=!balance" class="btn btn-info"><i class="fab fa-twitter"></i> Check Your Balance</a>
              </div>
            </div>
          </div>
        </div>
		<div class="col-sm-6 col-lg-3">
          <div class="card mt-3">
            <iframe src="https://www.youtube.com/embed/YZPtiXWeMH0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <div class="card-body" style="text-align:center">
              <h5 class="card-title">How to - Withdraw Your Tips</h5>
              <p class="card-text">An example of withdrawing {{ currency|title }} from the Tip Bot.</p>
              <div style="text-align: center;">
                <a href="https://twitter.com/messages/compose?recipient_id={{ bot_id }}&text=!withdraw" class="btn btn-info" ><i class="fab fa-twitter"></i> Withdraw Through DM</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br><br>
{% endblock %}
